@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

.homepage {
    margin-top: 80px;
    h1 {
        color: #fff;

        font-family: 'Montserrat', sans-serif;

        @media screen and (max-width: 700px) {
            font-size: 30px;
            margin-left: 10px;
        }
        @media screen and (min-width: 700px) {
            font-size: 80px;
            margin-left: 100px;
            &.last {
                margin-top: 150px;
            }
        }
        
        &.last {
        	.fa-envelope {
        		color: #D54937;
        	}
        }
    }
}
